@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-secondary: "Montserrat", sans-serif;
  --font-monument-regular: "MonumentExtended-Regular", sans-serif;
  --font-monument-bold: "MonumentExtended-UltraBold", sans-serif;
}

@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: normal;
  src: url("/brandspark/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: bold;
  src: url("/brandspark/fonts/MonumentExtended-Bold.otf") format("opentype");
}

.bg-image {
  background-image: url("../core/assets/images/brandspark_bg.png"); /* Update the path to your image */
  background-size: cover;
  background-position: center;
  
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
